.Blue {
    font-size: 24px;
    color: blue;
  font-style: italic;
  font-weight: bolder;
}
h2{
    font-size: 20px;
    color: #0000ff;
  font-weight: bolder;
}
  h3{
    font-size: 16px;
    color: teal;
    font-weight: bolder;
  }
  p{
    color: #4d4d4d;
  }
  .paragraaf{
    font-weight: bolder;
  }
  a{
    color: #8A2BE2;
    text-decoration: none;
  }