.huisdier {
    color: rgb(200, 0, 255);
width: auto;
height: auto;
}
p {
    color: rgb(200, 0, 255);
}
.gamen {
    color: rgb(200, 0, 255);
}
footer {
    color: rgb(200, 0, 255);
}

body {
    background-color: blanchedalmond;
}